body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header {
    display: block;
    height: 10vh;
    overflow: auto;
    background-color: lightsalmon;
    color: darkred;
    font-size: 28px;
}

.container {
    height: 90vh;
    display: flex;
}

pre {
    background-color: #f8f8f8;
    font-family: monospace;
    font-size: 28px;
    margin: 0;
    padding: 10px;
    color: dimgrey;
}

textarea:focus {
    outline: 0;
}